* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    background-color:#050505;
    font-size: large;
    color: #0c0b0b;
}

.container {
    max-width: 95%;
    margin: 0px auto;
    padding: 0px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #050505;
    color: white;
}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #db7531;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #ff4500;
}

nav.links {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid white;
}

nav.links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav.links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70vh;
    background-image:url('./img/philip-oroni-VfOGf5RWkeg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.my-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center top;
    background-image: url('https://avatars.githubusercontent.com/u/132378140?v=4');
    background-size: cover;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
    flex: 1;
    padding-right: 50px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-section {
    margin-top: 20px;
    background-image: url('./img/karsten-winegeart-F2V2Kn9cz1o-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff4500;
}

.about-section {
    padding: 60px 20px;
    text-align: center;
    color:white;
}

.projects-section {
    display: flex;
    padding: 60px 20px;
    align-items: center;
    justify-content: space-between;
    color:white;
    gap: 150px;
}

.projects-section h2 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 100px;
}

.scroller {  
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}

.projects {
    display: inline-flex;
    gap: 20px;
}

.card {  
    flex: 1;
    display: inline-block;
    margin-right: 10px; 
    overflow: hidden;  
    text-align: left;
    background-color: transparent;
    transition: transform 0.2s, opacity 1s ease, filter 1s ease;
}

.card img {  
    width: 100%;
    height: 60%;
    border-radius: 20px;
}  

.card h3 {  
    padding: 10px;  
    font-size: 1.5em;  
    margin: 10px 0;  
}

.card p a { 
    color: #007bff;  
    text-decoration: none;
}

.card.blurry {  
    filter: blur(5px); /* Amount of blur; adjust as needed */  
    opacity: 0.5; /* Decrease opacity to make it less visible */  
}

.card a:hover {  
    text-decoration: underline;  
}

.contact-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav.social-links {
    display: flex;
    gap: 10px;
}

nav.social-links a {
    text-decoration: none;
}

nav.social-links a:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
}

footer {
    text-align: center;
    padding: 20px;
    color: rgb(245, 10, 10);
}
